[Unit]
Description=ASCII Email and Print Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/asciibooth
User=ascii
Group=ascii
ExecStart=./email_and_print.py

[Install]
WantedBy=multi-user.target

